.nav-wrapper {
    width: 540px;
    height: 65px;
    display: flex;
    flex-direction: right;
    flex-flow: row-reverse;
}

.nav-bar {
    display: inline-block;
    margin-top: 24px
}

.nav-bar-text {
    font-size: 18px;
    font-weight: 600;
    margin-left: 7px;
    color: #414141;
    transition: .4s;
}

.nav-bar-text:hover {
    color: #d5d5d5
}