.title-wrapper,
.main-title-wrapper {
    width: 520px;
    height: 45px;
    margin-bottom: 20px;
    font-weight: Bold;
    color: #b2b2b2;
}

.main-title-wrapper {
    display: flex;
    justify-content: space-between;
}

.title {
    font-size: 40px;
    font-weight: Bold;
    cursor: default;
    color: #b2b2b2;
}

.user-info {
    font-size: 25px;
    margin-left: 20px;
    color: #b2b2b2;
    cursor: default;
}

.logout-button {
    display: inline;
    font-size: 25px;
    color: #b2b2b2;
    /* margin-left: 140px; */
    background-color: #414141;
    border: none;
    outline: none;
    font-weight: bold;
    height: 25px;
    margin-top: 15px;
}

.info-wrapper {
    width: 400px;
    margin: 0px;
}