.contents-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 520px;
}

.todo-box {
    width: 520px;
    height: 510px;
    overflow: auto;
}

.todo-box::-webkit-scrollbar {
    display: none;
}

.form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signin-link {
    font-size: 20px;
    height: 20px;
    margin: 10px 0px 15px 0px;
    font-weight: bold;
    color: #414141;
}