@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

.nanumgothic * {
 font-family: 'Nanum Gothic', sans-serif;
}

* {
  font-family:'Nanum Gothic';
  margin: 0px;
  padding: 0px;
  height: 100%;
  text-decoration: none;
}